.withdraw-page {
  padding-top: 5%;
}
.withdraw-page > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 386px;
}
.withdraw-page .black-card-wrapper {
  border: 1px solid #000;
  background-color: #0b0c07;
  padding: 104px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
}
.withdraw-page .black-card-wrapper > div {
  display: flex;
  justify-content: space-between;
}
.withdraw-page .black-card-wrapper > div p {
  color: #f4ffb0;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}
.withdraw-page > div .sidebar-wrapper {
  margin-right: 80px;
}

.withdraw-page .black-card-wrapper {
  border: 1px solid #000;
  background-color: #0b0c07;
  padding: 104px 80px;
}

.withdraw-page .table-wrapper {
  background-color: #000;
  height: 100%;
  margin-left: 30px;
  padding: 17px 20px;
  width: 410px;
  overflow: auto;
}
.withdraw-page .table-wrapper table {
  width: 100%;
}
.withdraw-page .table-wrapper table thead {
  border-bottom: 1px solid rgba(244, 255, 176, 0.2);
}
.withdraw-page .table-wrapper table thead th {
  color: #f4ffb0;
  font-size: 16px;
  padding-bottom: 11px;
  font-family: "Inter", sans-serif;
}
.withdraw-page .table-wrapper table tbody td {
  padding: 10px;
  color: #f4ffb0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.withdraw-page .table-wrapper table tbody tr:first-child td {
  padding-top: 27px;
}
.withdraw-page .table-wrapper table tbody tr:last-child td {
  padding-bottom: 33px;
}
